.container{
    display: flex;
    flex-direction: column;  
}



header{
    border-bottom:1px solid gray;
    background-color:darkslategray;
    width:100%;
	height:100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer{
    border-top:1px solid gray;
    text-align: center;
    width:100%;
	align-items: center;
	justify-content: space-between;
    background-color:darkslategray;
}
.content{
    display:flex;
}
.content nav{
    border-right:1px solid gray;
    
}
.content aside{
    border-left:1px solid gray;   
}
nav, aside{
    flex-basis: 150px;
    flex-shrink: 0;
}
aside{
    flex-basis: 230px;
    flex-shrink: 0;
}
main{
    padding:10px;

}

h1{
    color: cornflowerblue;
}

p{
    text-align: justify;
}
ul{
    list-style:none;
   
    margin-left:-30px
    }


.menu a{
    cursor:pointer;
}
.menu .hide{
       display:none;
    }

    .sub2 {
        font-weight: bold;
    }

    .hide2 {
        display: none;
    }

/* 모바일용 레이아웃  */
@media(max-width:650px){
    .content{
        flex-direction: column;
    }
    .content nav, .content aside{
        border:none;
        flex-basis: auto;
    }
    main{
        order:1;
    }
    nav{
        order:2;
    }
    aside{
        order:0;
        
    }

    ul{list-style:none; float:left; margin:0; padding:0;}
    li{margin-left:0px; float:left;padding: 5px;}
    
}

/* 본문 타일 레이아웃 */

html, body {
    background: #f1f1f1;
    font-family: 'Raleway', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .layout-article {
    max-width: 1027px;
    margin: 0 auto;
    padding: 40px 0px;
  }
  .layout-article ul.box-article {
    list-style: none;
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }
  .layout-article ul.box-article li {
    display: inline-block;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 25px;
    background: #ffffff;
    height: auto;
    overflow: hidden;
    margin: 15px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .layout-article ul.box-article li article {
    width: 100%;
  }
  .layout-article ul.box-article li article h1 {
    transition: ease 0.3s;
    font-size: 24px;
    line-height: 31px;
    font-weight: 600;
    color: #191919;
    margin-bottom: 15px;
  }
  .layout-article ul.box-article li article figure {
    width: 100%;
  }
  .layout-article ul.box-article li article figure img {
    width: 100%;
  }
  .layout-article ul.box-article li article p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #5E5E5E;
  }
  .layout-article ul.box-article li article span {
    width: 100%;
    display: block;
    padding: 15px;
    text-align: center;
    background: #24cf5f;
    margin-left: -15px;
    color: #ffffff;
    transform: translateY(15px);
    transition: ease 0.3s;
  }
  .layout-article ul.box-article li:hover article h1 {
    color: #24cf5f;
  }
  .layout-article ul.box-article li:hover article span {
    /* @include translateY(0px); */
  }
  @media only screen and (max-width: 480px) {
    .layout-article ul.box-article {
      -moz-column-count: 1;
      column-count: 1;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    .layout-article ul.box-article {
      -moz-column-count: 2;
      column-count: 2;
    }
  }
  
  .credit {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 150px;
    height: 100px;
    background: url(http://tlab.co.id/images/logo.png) no-repeat center center;
  }
  
  /* 본문 타일 레이아웃 끝 */


  /* 검색창 */
.green_window {
    display: inline-block;
    width: 266px; height: 34px;
    border: 3px solid #200400;
    background: white;
}
.input_text {
    width: 248px; height: 21px;
    margin: 6px 0 0 9px;
    border: 0;
    line-height: 21px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}
.sch_smit {
    width: 54px; height: 40px;
    margin-right:400px; border: 0;
    vertical-align: top;
    background: #200400;
    color: white;
    font-weight: bold;
    border-radius: 1px;
    cursor: pointer;
}
.sch_smit:hover {
    background: #56C82C;
}
 /* 검색창 */
